{% extends 'base.html' %}
{% import 'macros.html' as macro %}

<!-- Styles block -->
{% block styles %}
  {{ super() }}
  <link rel="stylesheet" href="{{url_for('static',filename = 'css/index.css')}}">
{% endblock %}

<!-- Content block -->
{% block content %}
<!-- Popular movie sections -->
<div>
  <h3>Popular Movies</h3>
  <ul>
    {{macro.displayMovieList(popular)}}
  </ul>
</div>

<!-- Upcoming movies -->
<div>
  <h3>Upcoming Movies</h3>
  <ul>
    {{macro.displayMovieList(upcoming)}}
  </ul>
</div>
<!-- Now showing Movies -->
<div>
  <h3>Now showing</h3>
  <ul>
    {{macro.displayMovieList(now_showing)}}
  </ul>
</div>
{% endblock %}